@model Join
@{

}

<div class="row">

    <div Class="col-md-4">


        <p>Would you like to receive notification when we are up and running? Enter your email below!</p>



        @using(Html.BeginForm("View","Join",FormMethod.Post,"Email"))

        {

            @Html.TextBoxFor(m => m.Email)
            <input type="submit" action="Join/View" value="Join" />
        }




    </div>
</div>



