@model Join
@{

}

<div class="row">

    <div Class="col-md-4">
        @using(Html.BeginForm("Create","Joins",new { method = "Email" },FormMethod.Post))
        {
            @Html.LabelFor(m => m.Contact,"Would you like to receive notification when we are up and running? Enter your email below!")
            @Html.TextBoxFor(m => m.Email,new { @class = "form-control",id = "email",placeholder = "name@domain.com" })
            <input class="btn-default" type="submit" method="post" />
        }

    </div>
</div>



